name: Unit test
on: [pull_request, push]

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Mengecek apakah kode lulus unit test jest

    steps:
      - uses: actions/checkout@v3
      - name: Setup NodeJS 18
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Pnpm install
        uses: ./.github/actions/pnpm-install

      - name: Run unit test
        run: pnpm test
